<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sale List</title>
</head>
<body>
    <h1>Sale List</h1>
    <table>
        <tr>
            <th>Sale Id</th>
            <th>Product</th>
            <th>Quantity</th>
        </tr>
        <tr th:each="sale : ${sales}">
            <td th:text="${sale.identity.saleId}"></td>
            <td th:text="${sale.identity.product}"></td>
            <td th:text="${sale.quantity}"></td>
        </tr>
    </table>
</body>
</html>
