
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sale List</title>
	<style>
		table {
			width: 100%;
			border-collapse: collapse;
		}
css
Copy code
	th, td {
		border: 1px solid black;
		padding: 8px;
		text-align: left;
	}

	th {
		background-color: #f2f2f2;
	}
</style>
</head>
<body>
	<h1 style="text-align: center;">Sale List</h1>
	<table>
		<tr>
			<th>Sale Id</th>
			<th>Product</th>
			<th>Quantity</th>
			<th>PhoneNumber</th>
			<th>Price</th>
			<th>Discount</th>
			<th>NetPrice</th>
		</tr>
		<tr th:each="sale : ${sales}">
			<td th:text="${sale.id}"></td>
			<td th:text="${sale.product_id}"></td>
			<td th:text="${sale.quantity}"></td>
			<td th:text="${sale.phoneNumber}"></td>
			<td th:text="${sale.price}"></td>
			<td th:text="${sale.discount}"></td>
			<td th:text="${sale.netPrice}"></td>
		</tr>
	</table>
	
	
	
</body>
</html>